<div class="container">
  <div class="row">
    <div class="col">
      <h2>1. Get Access Token</h2>
    </div>
  </div>
  <div class="row" *ngIf="showAccessToken">
    <div class="col">
      <label for="username" class="form-label">Username</label>
      <input
        id="username"
        type="text"
        class="form-control"
        [(ngModel)]="username"
      />
      <label for="password" class="label">Password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        [(ngModel)]="password"
      />
      <button class="btn btn-primary mt-2" (click)="getAccessToken()">
        Get Token
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>2. Get Context Token</h2>
    </div>
  </div>
  <div class="row" *ngIf="showContextToken">
    <div class="col">
      <label for="contextToken" class="form-label">Access Token</label>
      <input
        id="contextToken"
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="accessToken"
      /><label for="userReference" class="form-label"
        >Client/Reference (this is your reference for your client)</label
      >
      <input
        id="userReference"
        type="text"
        class="form-control"
        [(ngModel)]="userReference"
      />

      <button class="btn btn-primary mt-2" (click)="getContextToken()">
        Get Contex Token
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>3. View/Add Account</h2>
    </div>
  </div>
  <div class="row">
    <p>
      This shows the use of the
      <code>daas-institution-management</code> component which allows you to
      view your connected accounts, add or remove these.
    </p>
    <div class="col">
      <button
        class="btn btn-primary btn-block"
        routerLink="/accounts"
        [disabled]="!apiConfig"
      >
        View/Add Account
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>4. View Transactions</h2>
    </div>
  </div>
  <div class="row mt-3">
    <p>
      This shows the use of the <code>daas-transaction-list</code> component
      which allows you to view and filter the transactions for yout accounts.
    </p>
    <div class="col">
      <button class="btn btn-primary btn-block" routerLink="/transactions">
        View Transactions
      </button>
    </div>
  </div>
</div>
