<div class="modal-header">
  <h4 class="modal-title pull-left">Remove Account</h4>

  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Please confirm that you want to remove this account?</p>
</div>
<div class="modal-footer text-right">
  <button class="btn btn-secondary mr-2" (click)="cancelRevoke()">
    Cancel
  </button>
  <button class="btn btn-danger" (click)="confirmRevoke()">Remove</button>
</div>
